
ip routing
!
route-map PREPEND-RM permit 10
   set as-path prepend {{leaf_asn}}

router bgp {{leaf_asn}}
   neighbor MLAG peer-group
   neighbor MLAG fall-over bfd
   neighbor MLAG maximum-routes 100000
   neighbor MLAG allowas-in 2
   neighbor MLAG soft-reconfiguration inbound all
   neighbor MLAG send-community standard extended
   neighbor MLAG remote-as {{leaf_asn}}
   neighbor MLAG route-map PREPEND-RM out
{% if inventory_hostname.endswith('a') %}
   neighbor {{mlag_linknet | ipaddr('address') | ipaddr(1) }} peer-group MLAG
{% elif inventory_hostname.endswith('b') %} 
   neighbor {{mlag_linknet | ipaddr('address') | ipaddr(0) }} peer-group MLAG
{% endif %}
   !
   address-family ipv4
      neighbor MLAG activate
      exit
   !
   exit
