
ip routing
!
route-map UNDERLAY-RM permit 10
   match interface Loopback0
route-map UNDERLAY-RM permit 20
   match interface Loopback1

router bgp {{leaf_asn}}
   neighbor UNDERLAY peer-group
   neighbor UNDERLAY fall-over bfd
   neighbor UNDERLAY maximum-routes 100000
   neighbor UNDERLAY soft-reconfiguration inbound all
   neighbor UNDERLAY allowas-in 1
   neighbor UNDERLAY send-community standard extended
   neighbor UNDERLAY remote-as {{spine_asn}}
{% for int in uplinks %}
   neighbor {{int.linknet | ipaddr('address') }} peer-group UNDERLAY
{% endfor %}
   !
   address-family ipv4
      neighbor UNDERLAY activate
      redistribute connected route-map UNDERLAY-RM
      exit
   !
