service routing protocols model multi-agent
ip routing
!
router bgp {{leaf_asn}}
   neighbor EVPN peer-group
   neighbor EVPN allowas-in 1
   neighbor EVPN remote-as {{spine_asn}}
   neighbor EVPN next-hop-unchanged
   neighbor EVPN update-source Loopback0
   neighbor EVPN ebgp-multihop 2
   neighbor EVPN soft-reconfiguration inbound all
   neighbor EVPN send-community standard extended
   neighbor EVPN maximum-routes 100000
{% for spine in route_servers %}
   neighbor {{spine}} peer-group EVPN
{% endfor %}
   !
   address-family evpn
      neighbor EVPN activate
   !
   address-family ipv4
      no neighbor EVPN activate
   !
{% for vlan in site_vlans %}
   vlan {{vlan.vlan_id}}
      rd {{router_id}}:{{vlan.vlan_id+10000}}
      route-target both {{vlan.vlan_id+10000}}:{{vlan.vlan_id+10000}}
      redistribute learned
   !
{% endfor %}
      exit
   !
   exit
