!
vlan 4094
   trunk group mlag
!
no spanning-tree vlan 4094
!
interface Port-Channel2000
   description MLAG Peering Channel
   switchport mode trunk
   switchport trunk group mlag
   no shutdown
   no sflow enable
   exit

{% if ansible_net_model == "cEOSLab" %}
interface Ethernet3
   description MLAG Peering Interface
   no shutdown
   channel-group 2000 mode active
   exit
{% endif %}

{% if ansible_net_model == "DCS-7060SX2-48YC6-R" %}
interface Ethernet53/1
   description MLAG Peering Interface
   speed forced 100gfull
   no shutdown
   channel-group 2000 mode active
   exit
interface Ethernet54/1
   description MLAG Peering Interface
   speed forced 100gfull
   no shutdown
   channel-group 2000 mode active
   exit
{% endif %}

{% if ansible_net_model == "DCS-7020TR-48-R" %}
interface Ethernet53
   description MLAG Peering Interface
   no shutdown
   channel-group 2000 mode active
   exit
interface Ethernet54
   description MLAG Peering Interface
   no shutdown
   channel-group 2000 mode active
   exit
{% endif %}

interface Vlan4094
{% if inventory_hostname.endswith('a') %}
   ip address {{ mlag_linknet | ipaddr('net') | ipaddr(0) }}
{% elif inventory_hostname.endswith('b') %}
   ip address {{ mlag_linknet | ipaddr('net') | ipaddr(1) }}
   exit
{% endif %}
!
mlag configuration
   domain-id mlag4094
   local-interface Vlan4094
{% if inventory_hostname.endswith('a') %}
   peer-address {{ mlag_linknet | ipaddr('address') | ipaddr(1) }}
{% elif inventory_hostname.endswith('b') %}
   peer-address {{ mlag_linknet | ipaddr('address') | ipaddr(0) }}
{% endif %}
   peer-link Port-Channel2000
   reload-delay mlag 300
   reload-delay non-mlag 300
   exit
!
