!
{% for handovers in mlag_handovers %}
!
{% for key,value in handovers.items() %}
!
no interface Port-Channel {{value.portchannel}}
!
{% for ints in value.members %}
default interface {{ ints }}
interface {{ ints }}
{% if value.type in ('client','service_provider') %}
   no lldp transmit
   no lldp receive
{% elif value.type == 'infrastructure' %}
   lldp transmit
   lldp receive
{% endif %}
   lacp rate normal
   description Po{{value.portchannel}} - {{value.description}}
   channel-group {{value.portchannel}} mode active
{# Optional parameters here: state, speed #}
{% if value.state is defined %}
   {{value.state}}
{% else %}
   no shutdown
{% endif %}
{# !!7060SX2-48YC6 switches have a port errdisable issue - if any port in each bank of 4 is in 25G mode the other ports in that bank won't come up in 10G; 25G is the default so force 10G #}
{% if value.speed is defined %}
   speed forced {{value.speed}}
{% elif ansible_net_model == "DCS-7060SX2-48YC6-R" and value.speed is not defined %}
   speed forced 10000full
{% endif %}
{% endfor %}
!
{# can remove this block when https://github.com/ansible/ansible/issues/43336 is fixed #}
{% for vlan in site_vlans %}
{% if vlan.tags is defined %}
{% if (value.native is defined and value.native in vlan.tags) %}
vlan {{vlan.vlan_id}}
   name {{vlan.vlan_name}}_{{vlan.vlan_id}}
{% endif %}
{% endif %}
{% endfor %}
{# end of block to be removed when https://github.com/ansible/ansible/issues/43336 is fixed #}
!
interface Port-Channel {{value.portchannel}}
   description {{value.description}}
   spanning-tree bpdufilter enable
   spanning-tree portfast
   mtu 9100
   storm-control broadcast level 5
{% if value.type in ('client','service_provider') %}
   sflow enable
{% elif value.type == 'infrastructure' %}
   no sflow enable
{% endif %}
   switchport
   switchport mode trunk
   switchport trunk allowed vlan none
{% if value.tags is defined %}
{% if 'all' in value.tags %}
   switchport trunk allowed vlan all
{% else %}
{% for vlan in site_vlans %}
{% if vlan.tags is defined %}
{% for vlan_tag in vlan.tags %}
{% if vlan_tag in value.tags %}
   switchport trunk allowed vlan add {{vlan.vlan_id}}
{% endif %}
{% if (value.native is defined and value.native in vlan.tags) %}
   switchport trunk allowed vlan add {{vlan.vlan_id}}
   switchport trunk native vlan {{vlan.vlan_id}}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
{# Optional parameters here: vlan xlate, state #}
{# 7020 doesn't support vlan xlate as of 4.20.6F, but it is roadmapped #}
{% if ansible_net_model != "DCS-7020TR-48-R" %}
{% if value.xlate is defined %}
{% for translation in value.xlate %}
   switchport vlan mapping {{translation.src}} {{translation.dst}}
{% endfor %}
{% endif %}
{% endif %}
{# can remove this conditional when 7020TR supports vlan xlate #}
   mlag {{value.portchannel}}
   no shutdown
{% if value.state is defined %}
   {{value.state}}
{% else %}
   no shutdown
{% endif %}
!
{% endfor %}
{% endfor %}
