

!
{% for int in uplinks %}

interface {{int.interface}}
   no switchport
   mtu 9214
   no sflow enable
   bfd interval 50 min_rx 50 multiplier 3
   lldp transmit
   lldp receive
{% if ansible_net_model == "DCS-7060SX2-48YC6-R" %}
   speed forced 100gfull
{% endif %}
   ip address {{int.linknet | ipaddr('address') | ipmath(1)}}/31
   description {{int.neighbor}} {{int.neighbor_int}}
   no shutdown
   exit
{% endfor %}
