
!
role backup-operator
  10 permit mode exec command enable|show running-config|terminal length 0
  20 deny command .*

role no-access
  10 deny command .*

no aaa root

username admin privilege 15 role network-admin secret {{local_admin_password}}

aaa authentication login default group local
aaa authorization console
aaa authorization exec default group local
aaa authorization commands all default local

aaa authorization policy local default-role no-access
