{# optimizes spines for L3 forwarding #} 
{% if cam_partition is defined %}
platform trident forwarding-table partition {{cam_partition}}
{% endif %}

vlan internal allocation policy ascending range 3968 4093

{# interfaces report input rates etc in 30-second increments #}
load-interval default 30

{# set auto-recovery for link-flap errdisable as well as raising the threshold for link-flap errdisable #}
errdisable flap-setting cause link-flap max-flaps 10 time 20
errdisable recovery cause link-flap
errdisable recovery interval 45
