
ip routing
!
route-map UNDERLAY-RM permit 10
   match interface Loopback0

router bgp {{spine_asn}}
   bgp listen range {{linknet_summary}} peer-group UNDERLAY remote-as {{leaf_asn}}
   neighbor UNDERLAY fall-over bfd
   neighbor UNDERLAY maximum-routes 100000
   neighbor UNDERLAY allowas-in 1
   neighbor UNDERLAY send-community standard extended
   !
   address-family ipv4
      neighbor UNDERLAY activate
      redistribute connected route-map UNDERLAY-RM
      aggregate-address {{linknet_summary}} summary-only
      exit
   !
