!
{% for int in downlinks %}
interface {{int.interface}}
   no switchport
   mtu 9214
   bfd interval 50 min_rx 50 multiplier 3
   lldp transmit
   lldp receive
   ip address {{int.linknet | ipaddr('address') }}/31
   description {{int.neighbor}} {{int.neighbor_int}}
   no shutdown
{% endfor %}
